extends ../layout/index
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img.img-fluid(src="img/nosotros.jpg", alt="Imagen de Nosotros")
            .col-md-7
                h1 #{pagina}
                blockquote Sed pharetra posuere dolor ut vestibulum. Suspendisse fringilla, felis quis venenatis facilisis, augue lectus fringilla est, at blandit ante nisi commodo odio. Praesent non nisi sodales, gravida sem a, imperdiet mauris.
                p Maecenas pretium venenatis luctus. Nulla non fringilla dolor. Etiam vitae feugiat tellus, in consequat orci. Donec vel mi in urna venenatis commodo. Interdum et malesuada fames ac ante ipsum primis in faucibus. Phasellus hendrerit urna sem, sed pretium urna luctus eget. Mauris consectetur sit amet eros eu luctus. Pellentesque ut turpis urna. Ut pretium euismod neque. Aliquam commodo ipsum facilisis feugiat rutrum.
                p Donec vitae nisl finibus ante suscipit lacinia et ac ex. Sed interdum facilisis porttitor. Nam in gravida nibh. Sed aliquam dolor dictum leo tincidunt
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Fusce faucibus pellentesque felis vitae fermentum. Mauris non augue sed odio iaculis venenatis ac ut nunc. Suspendisse aliquam velit eu diam bibendum sagittis.
                .col-md-4
                    img(src="img/icono_destinos.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Fusce faucibus pellentesque felis vitae fermentum. Mauris non augue sed odio iaculis venenatis ac ut nunc. Suspendisse aliquam velit eu diam bibendum sagittis.
                .col-md-4
                    img(src="img/icono_precios.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejor Precio
                    p Fusce faucibus pellentesque felis vitae fermentum. Mauris non augue sed odio iaculis venenatis ac ut nunc. Suspendisse aliquam velit eu diam bibendum sagittis.